<ion-header>
  <ion-toolbar color="dark-green">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">E-mail</ion-label>
    <ion-input name="email" type="email" placeholder=""  [(ngModel)]="login.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">CPF</ion-label>
    <ion-input name="senha" type="password" [(ngModel)]="login.password"></ion-input>
  </ion-item>


  <ion-button expand="block" color="dark-green" (click)="signIn()">Entrar</ion-button>
  <ion-button expand="block" color="secondary"  [routerLink]="['/signup/']">Cadastrar</ion-button>
  <ion-button expand="block" color="medium">Esqueceu a senha?</ion-button>
</ion-content>
