<!-- <ion-content>


<ion-item >
    <!-- <ion-icon name="mail-outline"></ion-icon>
    <ion-label>
      <h2>CRM\COREM</h2>
      <h3>9975 7537 9725</h3>
    </ion-label>
  </ion-item>

  <ion-item >
    <!-- <ion-icon name="mail-outline"></ion-icon>
    <ion-label>
      <h2>Especialidade</h2>
      <h3>Pediatra</h3>
    </ion-label>
  </ion-item>
</ion-content> -->



<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pain">
      <ion-icon name="bandage-outline"></ion-icon>
      <ion-label>Dores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="symptoms">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>Sintomas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="medicaments">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Medicamentos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="presentActionSheet()">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>Mais</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
