<ion-header>
  <ion-toolbar color="dark-green">
    <ion-title>Editar Informações</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
  <form (ngSubmit)="onSubmit()">

    <ion-item *ngIf="Users.imgUrl==''">
      <img *ngIf="Users.imgUrl==''" src="../assets/imgs/fotousuariopadrao.png" alt="" class="img-thumbnail d-block" style="max-width: 100px;"/>
      <ion-input color="warning" type="file" accept="image/png,image/jpeg" (change)="upload($event)">
        <!-- <ion-icon name="add-outline"></ion-icon> -->
      </ion-input>
    </ion-item>

    <ion-item [hidden]="!hasImg">
      <img src="{{Users.imgUrl}}" alt="" class="img-thumbnail d-block" style="max-width: 100px;" [hidden]="!hasImg"/>
      <ion-button color="danger"  (click)="removerImg(userid, filePath)" [hidden]="!hasImg">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>

  <ion-item>
    <ion-label position="stacked">Nome completo</ion-label>
    <ion-input name="name" type="text"  placeholder="" [(ngModel)]="Users.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Sexo</ion-label>
    <ion-select placeholder="">
      <ion-select-option value="masculino">Masculino</ion-select-option>
      <ion-select-option value="feminino">Feminino</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Data de nascimento</ion-label>
    <ion-input name="datenaciemnto" placeholder="" [(ngModel)]="Users.datanascimento"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Faixa Etária</ion-label>
    <ion-select placeholder="">
      <ion-select-option value="Criança">Criança</ion-select-option>
      <ion-select-option value="Joven">Jovem</ion-select-option>
      <ion-select-option value="Adulto">Adulto</ion-select-option>
      <ion-select-option value="Idoso">Idoso</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">E-mail</ion-label>
    <ion-input name="email" type="email" placeholder="" [(ngModel)]="Users.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Cartão SUS</ion-label>
    <ion-input name="cartaosus" [(ngModel)]="Users.cartaosus"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Tipo sanguíneo</ion-label>
    <ion-select placeholder="">
      <ion-select-option value="Selecione">Selecione</ion-select-option>
      <ion-select-option value="A+">A+</ion-select-option>
      <ion-select-option value="A-">A-</ion-select-option>
      <ion-select-option value="B+">B+</ion-select-option>
      <ion-select-option value="B-">B-</ion-select-option>
      <ion-select-option value="AB+">AB+</ion-select-option>
      <ion-select-option value="AB-">AB-</ion-select-option>
      <ion-select-option value="O+">O+</ion-select-option>
      <ion-select-option value="O-">O-</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contato</ion-label>
    <ion-input name="contato" type="number" placeholder="" [(ngModel)]="Users.contato"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">CEP</ion-label>
    <ion-input name="cep" type="number" placeholder="" [(ngModel)]="Users.zipcode"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Endereço</ion-label>
    <ion-input name="endereço" type="text" placeholder="" [(ngModel)]="Users.address"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Numero</ion-label>
    <ion-input name="numero" type="number" placeholder="" [(ngModel)]="Users.address_number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Bairro</ion-label>
    <ion-input name="bairro" type="text" placeholder="" [(ngModel)]="Users.address_district"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Cidade</ion-label>
    <ion-input name="cidade" type="text" placeholder="" [(ngModel)]="Users.address_city"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Complemento</ion-label>
    <ion-input name="complemento" type="number" placeholder="" [(ngModel)]="Users.address_complement"></ion-input>
  </ion-item>

  <ion-item>
  <ion-label position="stacked">Estado</ion-label>
    <ion-select placeholder="">
      <ion-select-option value="AC">AC</ion-select-option>
      <ion-select-option value="AL">AL</ion-select-option>
      <ion-select-option value="AP">AP</ion-select-option>
      <ion-select-option value="AM">AM</ion-select-option>
      <ion-select-option value="BA">BA</ion-select-option>
      <ion-select-option value="CE">CE</ion-select-option>
      <ion-select-option value="ES">ES</ion-select-option>
      <ion-select-option value="GO">GO</ion-select-option>
      <ion-select-option value="MA">MA</ion-select-option>
      <ion-select-option value="MT">MT</ion-select-option>
      <ion-select-option value="MS">MS</ion-select-option>
      <ion-select-option value="MG">MG</ion-select-option>
      <ion-select-option value="PA">PA</ion-select-option>
      <ion-select-option value="PB">PB</ion-select-option>
      <ion-select-option value="PR">PR</ion-select-option>
      <ion-select-option value="PE">PE</ion-select-option>
      <ion-select-option value="PI">PI</ion-select-option>
      <ion-select-option value="RJ">RJ</ion-select-option>
      <ion-select-option value="RN">RN</ion-select-option>
      <ion-select-option value="RS">RS</ion-select-option>
      <ion-select-option value="RO">RO</ion-select-option>
      <ion-select-option value="RR">RR</ion-select-option>
      <ion-select-option value="SC">SC</ion-select-option>
      <ion-select-option value="SP">SP</ion-select-option>
      <ion-select-option value="SE">SE</ion-select-option>
      <ion-select-option value="TO">TO</ion-select-option>
      <ion-select-option value="DF">DF</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Comorbidades</ion-label>
    <ion-input name="comorbidades" type="text" placeholder="" [(ngModel)]="Users.comorbidades"></ion-input>
  </ion-item>
</form>
<div class="botoes">
  <ion-button class="botao" id="salvar" expand="block" type="submit" [routerLink]="['/tabs/dashboard']" color="dark-green" (click)="onSubmit()">Salvar</ion-button>
  <ion-button class="botao" expand="block" [routerLink]="['/tabs/dashboard']" color="danger">Cancelar</ion-button>
</div>
</ion-content>
