<ion-header class="ion-no-border">
  <ion-toolbar color="dark-green">
    <ion-title class="ion-text-center">Escala de dor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container" *ngIf="lado == 'frente'">
  <!-- Frente -->
  <div class="content">
    <!-- Superior body -->
    <div class="body-head" (click) ="pain('Cabeça')">
      <!-- cabeça -->
    </div>
    <div class="body-hand-rigth" (click) ="pain('Mão-direita')">
      <!-- mão direito -->
    </div>
    <div class="body-hand-left" (click) ="pain('Mão-esquerda')">
      <!-- mão esquerdo -->
    </div>
    <div class="body-arm-rigth" (click) ="pain('Braço-direito')">
      <!-- braço direito -->
    </div>
    <div class="body-arm-left" (click) ="pain('Braço-esquerdo')">
      <!-- braço esquerdo -->
    </div>
    <div class="body-forearm-rigth" (click) ="pain('Antebraço-direito')">
      <!-- Ante braço direito -->
    </div>
    <div class="body-forearm-left" (click) ="pain('Antebraço-esquerdo')">
      <!-- ante braço esquerdo -->
    </div>
    <div class="body-shoulder-rigth" (click) ="pain('Ombro-direito')">
      <!-- ombro direito -->
    </div>
    <div class="body-shoulder-left" (click) ="pain('Ombro-esquerdo')">
      <!-- ombro esquerdo -->
    </div>
    <div class="body-chest-right" (click) ="pain('Peito-direito')">
      <!-- peito direito -->
    </div>
    <div class="body-chest-left" (click) ="pain('Peito-esquerdo')">
      <!-- peito esquerdo -->
    </div>
    <div class="body-belly" (click) ="pain('barriga')">
      <!-- barriga -->
    </div>
    <!-- Inferior body -->
    <div class="body-thigh-right" (click) ="pain('Coxa-direita')">
      <!-- coxa direita -->
    </div>
    <div class="body-thigh-left" (click) ="pain('Coxa-esquerda')">
      <!-- coxa esquerda -->
    </div>
    <div class="body-foot-rigth" (click) ="pain('Pé-esquerdo')">
      <!-- pé direito -->
    </div>
    <div class="body-foot-left" (click) ="pain('Pé-direito')">
      <!-- pé Esquerdo -->
    </div>
    <div class="body-knee-right" (click) ="pain('Joelho-direito')">
      <!-- joelho direito -->
    </div>
    <div class="body-knee-left" (click) ="pain('Joelho-esquerdo')">
      <!-- joelho esquerdo -->
    </div>
    <div class="body-leg-rigth" (click) ="pain('perna-direita')">
      <!-- perna direito -->
    </div>
    <div class="body-leg-left" (click) ="pain('Perna-esquerda')">
      <!-- perna esquerdo -->
    </div>
  </div>
</div>
<!-- costas -->
<div class="container" *ngIf="lado == 'costas'">
  <!-- Frente -->
  <div class="content-back">
    <!-- Superior body -->
    <div class="body-back-head" (click)="pain('Nuca')">
      <!-- cabeça atras -->
    </div>
    <div class="body-back-hand-rigth" (click)="pain('mao direita')">
      <!-- mão direito atras -->
    </div>
    <div class="body-back-hand-left" (click)="pain('mao esquerda')">
      <!-- mão esquerdo atras -->
    </div>
    <div class="body-back-arm-rigth" (click)="pain('braço direito')">
      <!-- braço direito atras -->
    </div>
    <div class="body-back-arm-left" (click)="pain('braço esquerdo')">
      <!-- braço esquerdo atras -->
    </div>
    <div class="body-back-forearm-rigth" (click)="pain('ante braço direito')">
      <!-- Ante braço direito atras -->
    </div>
    <div class="body-back-forearm-left" (click)="pain('ante braço esquerdo')">
      <!-- ante braço esquerdo atras -->
    </div>
    <div class="body-back-shoulder-rigth" (click)="pain('ombro esquerdo')">
      <!-- ombro esquerdo atras -->
    </div>
    <div class="body-back-shoulder-left" (click)="pain('ombro direito')">
      <!-- ombro direito atras -->
    </div>
    <div class="body-back-upper-column" (click)="pain('coluna superior')">
      <!-- coluna superior atras -->
    </div>
    <div class="body-back-low-column" (click)="pain('coluna inferior')">
      <!-- culuna inferior atras -->
    </div>
    <!-- Inferior body -->
    <div class="body-back-thigh-right" (click)="pain('coxa direita')">
      <!-- coxa direita atras -->
    </div>
    <div class="body-back-thigh-left" (click)="pain('coxa esquerda')">
      <!-- coxa esquerda atras -->
    </div>
    <div class="body-back-to-heel-rigth" (click)="pain('calcanhar esquerdo')">
      <!-- calcanhar esquerdo atras -->
    </div>
    <div class="body-back-to-heel-left" (click)="pain('calcanhar direito')">
      <!-- calcanhar direito atras -->
    </div>
    <div class="body-back-leg-rigth" (click)="pain('perna direita')">
      <!-- perna direito atras -->
    </div>
    <div class="body-back-leg-left" (click)="pain('perna esquerda')">
      <!-- perna esquerdo atras -->
    </div>
  </div>
</div>
<div class="select">
  <!-- <ion-segment [(ngModel)]="lado" color="dark-green"> -->
  <ion-segment (ionChange)="segmentChanged($event)" color="dark-green">
    <ion-segment-button value="frente">
      <ion-label>Frente</ion-label>
    </ion-segment-button>
    <ion-segment-button value="costas">
      <ion-label>Costas</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>
</ion-content>
