<ion-header class="ion-no-border">
  <ion-toolbar color="dark-green">
    <ion-title class="ion-text-center">Medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- Formulário de Medicamento -->
<ion-list>
  <ion-item *ngFor="let medicaments of medicament">
    <!-- Linha 1 -->
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label class="texto" position="stacked">Médico</ion-label>
            <ion-input disabled="true">{{ medicaments.name }}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label class="texto" position="stacked">CRM</ion-label>
            <ion-input disabled="true">{{ medicaments.registro }}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label class="texto" position="stacked">Profissão</ion-label>
            <ion-input disabled="true">{{ medicaments.professional }}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label class="texto" position="stacked">Remédio</ion-label>
            <ion-input disabled="true">{{ medicaments.remedio }}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Linha 2 -->
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label class="texto" position="stacked">Tipo</ion-label>
            <ion-input disabled="true">{{ medicaments.tipo }}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Linha 3 -->
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label class="texto" position="stacked">Dosagem</ion-label>
            <ion-input disabled="true">{{ medicaments.dosagem }}</ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
          <ion-label class="texto" position="stacked">Horário</ion-label>
          <ion-input disabled="true">{{ medicaments.horario }}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Linha 4 -->
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label class="texto" position="stacked">Observação</ion-label>
            <ion-textarea disabled="true">{{ medicaments.observacao}}</ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-item>
</ion-list>
</ion-content>
