.topo-header-bg{
  height: 180px;
  width: 360px;
  background-color:  #0fff98;
}
.foto-header-bg{
  position: absolute;
  top: 85px;
  left: 95px;
  display: flex;
  align-items: center;
}
img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 7px solid #0fff98;
}
.text-color{
 color: #2dd36f;
}
